@font-face {
    font-family: digits;
    src: url(digits.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-color: rgb(240,240,240);
  transform-style: preserve-3d;
}
.row {
  width: 100%;
  height: auto;
}
.entity {
  user-select: none;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
.big_button {
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 8px #627295;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.big_button:active {
  background: #668ad8;
  color: #FFF;
  border-bottom: none;
  box-shadow: none;
}
.digits {
  background-color: white;
  border: 3px solid black;
  height: 100px;
  width: 250px;
  font-size: 90px;
  line-height: 110px;
  text-align: center;
  font-family: digits;
}
.arm_switch {
  background-color: green;
  height: 150px;
  width: 50px;
  transform: perspective( 600px ) rotateX( 45deg );
  transition: transform .5s linear;
  transform-origin: 50% 0%;
}
.arm_switch:hover {
  transform: perspective( 600px ) rotateX( 75deg );
}
.knob {
  background-color: black;
  border: 5px solid grey;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: red;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 14px;
  transition: transform .5s linear;
}
.knob:hover {
  transform: rotateZ(180deg);
}
.switch {
  background-color: grey;
  border: 5px solid black;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-left: 2px;
  line-height: -5px;
}
.switch:active {
  line-height: 0px;
}
.sm_button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 8px #627295;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.sm_button:active {
  background: #668ad8;
  color: #FFF;
  border-bottom: none;
  box-shadow: none;
}
