@font-face {
    font-family: digits;
    src: url(digits.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-color: rgb(240,240,240);
  transform-style: preserve-3d;
}
.row {
  width: 100%;
  height: auto;
}
.entity {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
.big_button {
  background-color: white;
  border: 3px solid black;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.digits {
  background-color: white;
  border: 3px solid black;
  height: 100px;
  width: 250px;
  font-size: 90px;
  line-height: 110px;
  text-align: center;
  font-family: digits;
}
.arm_switch {
  background-color: green;
  height: 150px;
  width: 50px;
  transform: perspective( 600px ) rotateX( 45deg );
}
.knob {
  background-color: black;
  border: 5px solid grey;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: red;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 14px;
}
.switch {
  background-color: grey;
  border: 5px solid black;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-left: 2px;
  line-height: -5px;
}
.sm_button {
  background-color: green;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 5px solid black;
}
