body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
.row {
  width: 100%;
  height: auto;
}
.entity {
  display: inline-block;
  margin: 5px;
}
.big_button {
  background-color: green;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.digits {
  background-color: red;
  height: 100px;
  width: 400px;
}
.arm_switch {
  background-color: blue;
  height: 200px;
  width: 50px;
}
.knob {
  background-color: yellow;
  height: 50px;
  width: 50px;
}
.switch {
  background-color: orange;
  height: 50px;
  width: 10px;
}
.sm_button {
  background-color: green;
  height: 50px;
  width: 50px;
}
